.feinman__image {
  width: 867px;
  height: 637px;
  background-image: url(../../../images/feinman.png);
  background-size: cover;
  background-repeat: no-repeat;
  position: absolute;
  left: 0;
  bottom: 0;
}
