
.table_theme_white{
  margin-bottom: 100px;
}

.table__cell{
  display: flex;
  flex-direction: column;
  width: 250px;
  margin-right: 0;
  margin-top: 60px;
}

.table__heading{
  line-height: 1.15;
  font-size: 24px;
  margin-bottom: 20px;
  margin-top: 0;
}


.table__text{
  line-height: 1.2;
  font-size: 18px;
  margin-bottom: 20px;
  margin-top: 0;
  word-wrap: none;
}


.table__signature{
  line-height: 1.2;
  font-size: 18px;
  margin-bottom: 0;
  margin-top: 0;
}

.kaufman{
  display: flex;
  flex-direction: column;
  background-color: #1F1F1F;
  position: relative;
  overflow: hidden;
}


.section-title_theme_dark{
  color: white;
  margin-top: 90px;
  z-index: 1;
}

.section-subtitle_theme_dark{
  color: white;
  z-index: 1;
}

.table_theme_dark{
  margin-bottom: 90px;
}

/* и элемента с модификатором вида ключ-значение */
.table__cell_theme_dark {
  width: 200px;
  margin-right: 0;
  margin-top: 80px;
  z-index: 1;
}

.table__heading_theme_dark{
  color: white;
}

.table__text_theme_dark{
  color: white;
  margin-bottom: 0;
}

.kaufman__triangle{
  width: 877px;
  height: 877px;
  position: absolute;
  top: 0;
  right: -210px;
  object-fit: cover;
}



.footer__column_content_copiright{
  flex-basis: 711px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}



